<!-- Header -->
<nav id="navbar-section" class="navbar navbar-default navbar-static-top navbar-sticky" role="navigation">
  <div class="container">
  
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <!-- <a class="navbar-brand wow fadeInDownBig" href="index.html"><img class="office-logo" src="assets/img/slider/Office.png" alt="Office"></a>       -->
  </div>

  <div id="navbar-spy" class="collapse navbar-collapse navbar-responsive-collapse">
    <a class="navbar-brand sabrand" href="#">Solution Analytics</a>
    <ul class="nav navbar-nav pull-right">
      <li>
        <a href="index.html">Home</a>
      </li>
      <!-- 
        <li>
        <a href="/about.html">About</a>
      </li> 
    -->
      <li>
        <a href="services.html" data-toggle="dropdown"> Our Services </a>
        <div class="dropdown-menu">
          <a href="analytics.html" class="dropdown-item" >Analytics Consulting</a>
        <div></div>
          <a href="bi.html" class="secondnav" >Business Intelligence</a>
        <div></div>
          <a href="etl.html" class="secondnav" >Data Pipeline</a>
        <div></div>
          <a href="dw.html" class="secondnav" >Data Warehouse</a>
        </div>
      </li>

      <li>
        <a href="blog.html">Blog</a>
      </li>
      <li>
        <a href="team.html">Team</a>
      </li>
      <li>
        <a href="contact.html"><span>Contact</span></a>
      </li>
    </ul>         
  </div>
  </div>
</nav>

<!-- End Header -->